# Web Scraping - Part 1.1
### Scraping Tables from webpages

Part 1.1 
- try-except
- write to file

In [9]:
import pandas as pd
ds =[]

If an error occurs, print message, otherwise run program.

In [10]:
try:
    url = input('Enter URL:')
    ds = pd.read_html(url)
except:
    print("A problem occured with your link")

The scarped data is a list of the tables on the site and it's data.

In [11]:
ds

[                  0                                                  1
 0       Flower name                                           Meanings
 1               NaN                                                NaN
 2         Amaryllis                                   Pastoral poetry.
 3             Aster                       Daintiness & love. Fidelity.
 4            Azalea     Take care of yourself for me. Fragile passion.
 ..              ...                                                ...
 62  Tulip (general)                   Gift from a perfect lover. Love.
 63      Tulip (red)  Irresistible love. Believe me. Declaration of ...
 64   Tulip (yellow)                                     Hopeless love.
 65           Violet                             Faithfulness. Modesty.
 66   Zinnia (mixed)                      Thinking of an absent friend.

 [67 rows x 2 columns]]

In [15]:
ds[0]

                  0                                                  1
0       Flower name                                           Meanings
1               NaN                                                NaN
2         Amaryllis                                   Pastoral poetry.
3             Aster                       Daintiness & love. Fidelity.
4            Azalea     Take care of yourself for me. Fragile passion.
..              ...                                                ...
62  Tulip (general)                   Gift from a perfect lover. Love.
63      Tulip (red)  Irresistible love. Believe me. Declaration of ...
64   Tulip (yellow)                                     Hopeless love.
65           Violet                             Faithfulness. Modesty.
66   Zinnia (mixed)                      Thinking of an absent friend.

[67 rows x 2 columns]

> Put dataframe into a csv file

In [17]:
ds[0].to_csv('out_file.csv')