# Web Scraping - Part 1.1
### Scraping Tables from webpages

Part 1.1 
- try-except
- write to file

Table scrapped:

[Pokemon Go type chart](https://www.eurogamer.net/pokemon-go-type-chart-effectiveness-weaknesses)

In [1]:
import pandas as pd
ds =[]

If an error occurs, print message, otherwise run program.

In [2]:
try:
    url = input('Enter URL:')
    ds = pd.read_html(url)
except:
    print("A problem occured with your link")

The scarped data is a list of the tables on the site and it's data.

In [3]:
ds

[          0                       1               2               3
 0       NaN                     NaN  Eastern Time *          UTC **
 1    1995.0                     NaN             NaN             NaN
 2       NaN          Vernal Equinox   3/20/95 21:14    3/21/95 2:14
 3       NaN   First Third of Spring   4/20/95 19:20    4/21/95 0:20
 4       NaN              Mid-Spring     5/6/95 7:24    5/6/95 11:24
 ..      ...                     ...             ...             ...
 547     NaN   First Third of Autumn  10/21/25 18:54  10/21/25 22:54
 548     NaN              Mid-Autumn  11/05/25 17:22  11/05/25 22:22
 549     NaN  Second Third of Autumn  11/20/25 16:49  11/20/25 21:49
 550     NaN         Winter Solstice  12/21/25 10:03  12/21/25 15:03
 551     NaN                     NaN             NaN             NaN

 [552 rows x 4 columns]]

View the first table

In [4]:
ds[0]

          0                       1               2               3
0       NaN                     NaN  Eastern Time *          UTC **
1    1995.0                     NaN             NaN             NaN
2       NaN          Vernal Equinox   3/20/95 21:14    3/21/95 2:14
3       NaN   First Third of Spring   4/20/95 19:20    4/21/95 0:20
4       NaN              Mid-Spring     5/6/95 7:24    5/6/95 11:24
..      ...                     ...             ...             ...
547     NaN   First Third of Autumn  10/21/25 18:54  10/21/25 22:54
548     NaN              Mid-Autumn  11/05/25 17:22  11/05/25 22:22
549     NaN  Second Third of Autumn  11/20/25 16:49  11/20/25 21:49
550     NaN         Winter Solstice  12/21/25 10:03  12/21/25 15:03
551     NaN                     NaN             NaN             NaN

[552 rows x 4 columns]

> Put dataframe into a csv file

In [5]:
ds[0].to_csv('out.csv')