In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from unicodedata import normalize

In [29]:
url = input('Enter URL:')
#table = input('Enter Table Name:')
data_scraped = pd.read_html(url)
df = data_scraped

In [30]:
df[1]

      #                  Movie                  Director(s)  Year
0     1       Some Like It Hot                 Billy Wilder  1959
1     2                Tootsie               Sydney Pollack  1982
2     3        Dr. Strangelove              Stanley Kubrick  1964
3     4             Annie Hall                  Woody Allen  1977
4     5              Duck Soup                  Leo McCarey  1933
..  ...                    ...                          ...   ...
95   96     Sons of the Desert            William A. Seiter  1933
96   97            Bull Durham                  Ron Shelton  1988
97   98       The Court Jester  Melvin Frank, Norman Panama  1956
98   99    The Nutty Professor                  Jerry Lewis  1963
99  100  Good Morning, Vietnam               Barry Levinson  1987

[100 rows x 4 columns]